/* .home-container{
    font-family: "Blinker";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1.3rem;
    color: rgb(80, 175, 204);
} */
/* 
h4{
    margin:70px;
}
@media only screen and (max-width: 600px) {
    .text{
        margin:1px 0px;
    }
  } */
  /* .Home{
      background-color: cyan;
  } */
