@media (max-width: 1200px) {
    .product-form {
        width: 330px;
    }

    .product-form button[type="submit"] {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .product-form {
        width: 400px;
    }
}
